div.row
  div(class="customErrorAlert", ng-if="!formIsValid")
    p(ng-bind="formErrorMessage")
  div(class="customSuccessAlert", ng-if="loginSuccessful")
    p Login successful.
  div.container.paddingTopMd
    form.col.s12
      br 
      div.card-panel.authform
        div.row
          h4.center-align Login to your account.
          div.divider
          div.input-field.col.s12
            input(id="username", type="text", class="validate", ng-model="user.username")
            label(for="username") Username/ Email
          div.input-field.col.s12
            input(id="password", type="password", class="validate", ng-model="user.password")
            label(for="password") Password
            br
          div.center-align
            button(class="btn-large waves-effect", ng-click="loginUser(user)") Login
              i.mdi-content-send.right
          br
          p.center-align 
            | New user? Click 
            a(ui-sref="signup") here 
            | to sign up.
            