body {
  background: #131218 url('../images/bg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, nav ul a {
  font-weight: 100;
}

nav .brand-logo {
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.center-align {
  text-align: center;
}

/*html {
  background: #000;
}*/

.userPage, #docView {
  padding:0;
  margin: 0;
  position: relative;
  top: 0;
  min-height : 637px;;
}

.userPage {
  background: url('../images/bg4.jpg') no-repeat;
  background-size: cover;
}

.userPage h1, .userPage  h2, .userPage  h3, .userPage h4, .userPage h5, .docView h1, .docView h2, .docView h3, .docView h4, .docView h5, .docView h6 {
  margin: 0;
}

.sideMArgin {
  margin-left: 8%;
  margin-right: 8%;
}

.sideMArginLeft {
  margin-left: 10%;
}

.sideMArginRight {
  margin-right: 10%;
}

.marginTopMd {
  margin-top: 10%;
}

.marginTopMedium {
  margin-top: 25%;
}

.marginTopLg {
  margin-top: 30%;
}

.paddingTopMd {
  padding-top: 5%;
}

.paddingTopLg {
  padding-top: 10%;
}

nav {
  background: #272532;
}

.btn-large, .btn {
  border: 1px solid #fff;
  border-radius: 0;
  background: #272532;
  transition: all linear .3s;
}

.btn-large:hover, .btn:hover, .btn-large:active, .btn:active, .btn-large:focus, .btn:focus {
  background: #fff;
  color: #272532;
}

.authform {
  background: rgb(239, 235, 236);
  width: 60%;
  margin: 0 auto;
  border-top: 4px solid rgb(75, 72, 95)
}


.introText {
  color: #fff;
  font-weight: 100;
}

.introText p {
  font-size: 21px;
  font-weight: 100;
  line-height: 28px;
}

.errMsg {
  color: #E68E75;
}

input[type=text].valid, 
input[type=text]:focus.valid, 
input[type=password].valid, 
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #272532;
  box-shadow: 0 1px 0 0 #8C8A8F;
}
.home {
  background: #000;
  opacity: .9;
}

.listofDocs img{
  width: 190px;
  height: 245px;
}


.listofDocs .card-content {
  background: #fff;
}

.listofDocs .card-action {
  background: #F2F8F8;
}

.doctorProfile {
  text-align: center;
}

.doctorProfile h5, .doctorProfile p {
  color: #564E7F;
}


/*
  Color scheme 
  #272532  - Dark dark 
  rgba(239, 235, 236)  - Whiteish 
  #625e65  - metalic color 
  #9f9896  - Greyish 
  #926d66  - Brownish 
  #D0bFad  - Creamish 
  #cc9673  - Orangish 
*/

.card-panel h5 {
  color: #39393C;
}

.card-panel {
  max-height: 550px;
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.appointment, .parentCard {
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 4px solid rgb(75, 72, 95);
}

.appointment img {
  width: 45%;
}

.dropdown-content {
  max-height: 300px;
  overflow-y: scroll;
  z-index: 2;
}

.toastr {
  text-align: center;
  background: #6BC691;
  color: #fff;
  border: 1px solid #3CB36E;
}

.toastr a {
  color: #272532;
}

.collection {
  max-height: 450px;
  overflow: scroll;
}

.deleteSchedule {
  background: rgb(198, 107, 117);
}

.deleteSchedule:hover, .deleteSchedule:active, .deleteSchedule:focus {
  background: rgb(192, 94, 105);
}

.collection .collection-item {
  background: #F2F8F8;
}

.collection.with-header .confirmed {
  background-color: #B7D8B9;
}

.collection.with-header .pending {
  background-color: #E7C993;
}

.collection.with-header .cancelled {
  background-color: #C16363;
}

.preview {
  color: #2AA7B0;
}

.deleteApp {
  color: #AE5A5A;
}

.submitSchedule {
  background: #4D854C;
}

.submitSchedule:hover, .submitSchedule:active, .submitSchedule:focus {
  background: #0B6F0A;
}

.alert {
  padding: 35px
}

.alert h6 {
  font-weight: 400;
  font-size: 14px;
}

.colorfulHeader {
  background: #B8DBDD; 
  padding: 10px;
  text-align: center;
  color: #fff;
}

.colorfulHeader h5 {
  color: #68605E;
}

.picker__close, 
.picker__today, 
.picker__day.picker__day--today{
  color: #C36F5A;
 }
.picker__date-display,
.picker__day--selected, 
.picker__day--selected:hover, 
.picker--focused 
.picker__day--selected {
  background: #C7A093;
}

.picker__weekday-display {
  background: #A77A6B;
}

.customErrorAlert, .customSuccessAlert {
  position: absolute;
  color: #fff;
  right: 1%;
  top: 2%;
  padding: 0 30px;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.customErrorAlert:after , .customSuccessAlert:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent rgb(198, 107, 117);
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 5px; 
}

.customErrorAlert p , .customSuccessAlert p {
  margin: 0;
  padding: 10px;  
}

.customErrorAlert:after {
  border-color: transparent rgb(193, 99, 99);
}

.customSuccessAlert:after{
  border-color: transparent rgb(113, 198, 157);
}

.customErrorAlert {
  background: #C16363;
  border: 1px solid #985259;
}

.customSuccessAlert {
  background: #6BC691;
  border: 1px solid #529072;
}

.col .s2 > p {
  margin-top: 20px;
  font-size: 18px;
  color: #272532;
}

#docView {
  background: #000;
  color: #fff;
}

#leftCol, #rightCol {
  height: 620px;
}

#rightCol {
  background: #EBEBEB;
}

.callToAction .card {
  padding: 10px;
}

.callToAction .card i {
  color: #eee;
}

.callToAction h4, .callToAction h5 {
  color: #272532;
}

.confirmedDocCard {
  background: #B7D8B9;
}

.cancelledDocCard, .doc_cancelled {
  background: #C16363;
}

.pendingDocCard {
  background: #E7C993;
}

.doc_pending {
  background: #E8C482;
}

.doc_confirmed {
  background: #80CA84;
} 


.pendingDocCard, .cancelledDocCard, .confirmedDocCard {
  transition: all linear .5s;
 }

.confirmedDocCard:hover {
  background: #80CA84;
}

.cancelledDocCard:hover {
  background: #BE4444;
}

.pendingDocCard:hover {
  background: #E8C482;
}

#leftCol .collection {
  color: #272532;
}

#docView h4{
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 50px;
}