div.calendar
  div.header
    i(class="mdi-hardware-keyboard-arrow-left", ng-click="previous()")
    span {{month.format("MMMM, YYYY")}}
    i(class="mdi-hardware-keyboard-arrow-right", ng-click="next()")
  div.week.names
    span.day Sun
    span.day Mon
    span.day Tue
    span.day Wed
    span.day Thu
    span.day Fri
    span.day Sat
  div(class="week", ng-repeat="week in weeks")
    span(class="day", ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }", ng-click="select(day)", ng-repeat="day in week.days" ) {{day.number}}


