div#docView
  div.row
    div(id="leftCol", class="col s6" class="{{activeClass}}")
      div.sideMArgin
        h4 {{activeCategory }} Schedules
        ul.collection.marginTopMd
          li(class="collection-item" ng-repeat="schedule in currentDoctorSchedules")
            div.row
              div.col.s8
                p
                  b(ng-bind="schedule.message")
                p By {{schedule.patientName}}
                p
                  i.mdi-action-list
                    |  {{schedule.SelectedDay}}
                p {{schedule.startTime}} to {{schedule.endTime}}
              div.col.s4

        
    div(id="rightCol" class="callToAction col s6")
      div.sideMArgin.marginTopMedium
        h4.center-align Manage your appointments
        br
        div.row
          div(class="col s4", ng-class="{activeCat: activeCategory=='confirmed'}")
            div(class="card confirmedDocCard center-align", ng-click="showCategory('confirmed')")
              i.medium.mdi-action-done
              h5 Confirmed appointments
          div(class="col s4", ng-class="{activeCat: activeCategory=='cancelled'}")
            div(class="card cancelledDocCard center-align", ng-click="showCategory('cancelled')")
              i.medium.mdi-navigation-cancel
              h5 Cancelled appointments
          div(class="col s4", ng-class="{activeCat: activeCategory=='pending'}")
            div(class="card pendingDocCard center-align", ng-click="showCategory('pending')")
              i.medium.mdi-navigation-unfold-less
              h5 Pending appointments