div.userPage
  div(class="customErrorAlert", ng-if="!formIsValid")
    p(ng-bind="formErrorMessage")
  div.sideMArgin
    div.paddingTopMd
      div.row
        div(class="col s8", ng-show="!scheduleUpdated && !scheduleCancelled")
          div.card-panel.parentCard
            div.colorfulHeader
              h5 Modify  your appointment with Dr {{currentAppointment.doc_firstname + '.'}}
            div(class="row")
              div.divider
              div
                div.input-field
                  input(id="message", type="text", class="validate", ng-model="currentAppointment.message")
                  label(for="message") Title
                div.input-field
                  input(type="text", class="datepicker", id="date", ng-model="currentAppointment.SelectedDay") 
                  label(for="date") Select date
                div.row.card-panel
                  div.col.s2
                    p From

                  div.col.s4
                    div.input-field
                      select(ng-model="currentAppointment.startTime", class="browser-default")
                        option(value="" disabled selected) Select time
                        option(value="07:00 AM") 07:00 AM
                        option(value="07:30 AM") 07:30 AM
                        option(value="08:00 AM") 08:00 AM
                        option(value="08:30 AM") 08:30 AM
                        option(value="09:00 AM") 09:00 AM
                        option(value="09:30 AM") 09:30 AM
                        option(value="10:00 AM") 10:00 AM
                        option(value="10:30 AM") 10:30 AM
                        option(value="11:00 AM") 11:00 AM
                        option(value="11:30 AM") 11:30 AM
                        option(value="12:00 PM") 12:00 PM
                        option(value="12:30 PM") 12:30 PM
                        option(value="01:00 PM") 01:00 PM
                        option(value="01:30 PM") 01:30 PM
                        option(value="02:00 PM") 02:00 PM
                        option(value="02:30 PM") 02:30 PM
                        option(value="03:00 PM") 03:00 PM
                        option(value="03:30 PM") 03:30 PM
                        option(value="04:00 PM") 04:00 PM
                        option(value="04:30 PM") 04:30 PM
                        option(value="05:00 PM") 05:00 PM
                        option(value="05:30 PM") 05:30 PM
                        option(value="06:00 PM") 06:00 PM
                        option(value="06:30 PM") 06:30 PM
                        option(value="07:00 PM") 07:00 PM
                        option(value="07:30 PM") 07:30 PM
                        option(value="08:00 PM") 08:00 PM

                  div.col.s2
                    p to 

                  div.col.s4
                    div.input-field
                      select(ng-model="currentAppointment.endTime", class="browser-default")
                        option(value="" disabled selected) Select time
                        option(value="07:00 AM") 07:00 AM
                        option(value="07:30 AM") 07:30 AM
                        option(value="08:00 AM") 08:00 AM
                        option(value="08:30 AM") 08:30 AM
                        option(value="09:00 AM") 09:00 AM
                        option(value="09:30 AM") 09:30 AM
                        option(value="10:00 AM") 10:00 AM
                        option(value="10:30 AM") 10:30 AM
                        option(value="11:00 AM") 11:00 AM
                        option(value="11:30 AM") 11:30 AM
                        option(value="12:00 PM") 12:00 PM
                        option(value="12:30 PM") 12:30 PM
                        option(value="01:00 PM") 01:00 PM
                        option(value="01:30 PM") 01:30 PM
                        option(value="02:00 PM") 02:00 PM
                        option(value="02:30 PM") 02:30 PM
                        option(value="03:00 PM") 03:00 PM
                        option(value="03:30 PM") 03:30 PM
                        option(value="04:00 PM") 04:00 PM
                        option(value="04:30 PM") 04:30 PM
                        option(value="05:00 PM") 05:00 PM
                        option(value="05:30 PM") 05:30 PM
                        option(value="06:00 PM") 06:00 PM
                        option(value="06:30 PM") 06:30 PM
                        option(value="07:00 PM") 07:00 PM
                        option(value="07:30 PM") 07:30 PM
                        option(value="08:00 PM") 08:00 PM
                        //- End time section 

              div(class="center-align", ng-if="!scheduleUpdated && !scheduleCancelled")
                button(class="btn-large waves-effect center-align submitSchedule", ng-click="updateChanges()") Save changes
                  i.mdi-content-send.right
                  
        div(class="col s8", ng-if="scheduleUpdated")
          div.card-panel.toastr
            div(class="row fadeInDown", ng-if="scheduleUpdated")      
              p Your appointment has been successfully updated.
              p You will receive a notfication when your new appointment gets confirmed.
              a(ui-sref="home") Back to home page

        div(class="col s8", ng-if="scheduleCancelled")
          div.card-panel.toastr
            div(class="row fadeInDown", ng-if="scheduleCancelled")      
              p Your appointment has been successfully cancelled.
              p
                    | You can still view and reschedule this appointment from your 
                    a(ui-sref='home')
                      | dashboard or you can 
                      a(ui-sref='patient') create a new appointment

        div.col.s4
          div.row
            div.card-panel.appointment
              div
                div.card-content
                  img(src="{{scheduledDoctor.avatarUrl}}")
                  p.card-title {{scheduledDoctor.firstname + ' ' + scheduledDoctor.lastname}}
                div.card-action
                  p {{scheduledDoctor.specialization}}
                  p {{scheduledDoctor.email}}
          br
          div(class="center-align", ng-if="!scheduleCancelled && !scheduleUpdated")
            button(class="btn-large waves-effect deleteSchedule center-align", ng-click="cancelAppointment()") Cancel this appointment
              i.mdi-content-clear
                   