div.sideMArginLeft.marginTopMd.introText
  div
    h3 Welcome to SchedMedic
  div
    p Easily schedule and manage your medical appointments here.

    button(class="btn-large waves-effect marginTopMd center-align", ng-click="showSignup()") Get Started
      
