div.welcomePage
  div.sideMArginLeft.introText
    div
      h3.noSpacing Welcome to SchedMedic
    div
      p Easily schedule and manage your medical appointments here.
      button(class="btn-large waves-effect marginTopMd center-align", ng-click="showSignup()", ng-if="!userIsLoggedIn") Get Started
      button(class="btn-large waves-effect marginTopMd center-align", ng-click="scheduleAppointment()", ng-if="userIsLoggedIn") Schedule Appointment

