div.rowdiv(class="customErrorAlert", ng-if="!formIsValid")
  p(ng-bind="formErrorMessage")
div.userPage
  div.sideMArgin
    div.paddingTopMd
      div.row
        div(class="col s8", ng-show="!schduleFixed")
          div.card-panel.parentCard
            div.colorfulHeader
              h5 Schedule an appointment with Dr {{scheduledDoctor.firstname + '.'}}
            div(class="row center-align")
              div
                div.input-field
                  input(id="message", type="text", class="validate", ng-model="schedule.message")
                  label(for="message") Title
                div.input-field
                  input(type="text", class="datepicker", id="date", ng-model="schedule.SelectedDay") 
                  label(for="date") Select date
                div.input-field
                  div.row.card-panel
                    div.col.s2
                      p From

                    div.col.s4
                      div.input-field
                        select(ng-model="schedule.startTime", class="browser-default")
                          option(value="" disabled selected) Select time
                          option(value="07:00 AM") 07:00 AM
                          option(value="07:30 AM") 07:30 AM
                          option(value="08:00 AM") 08:00 AM
                          option(value="08:30 AM") 08:30 AM
                          option(value="09:00 AM") 09:00 AM
                          option(value="09:30 AM") 09:30 AM
                          option(value="10:00 AM") 10:00 AM
                          option(value="10:30 AM") 10:30 AM
                          option(value="11:00 AM") 11:00 AM
                          option(value="11:30 AM") 11:30 AM
                          option(value="12:00 PM") 12:00 PM
                          option(value="12:30 PM") 12:30 PM
                          option(value="01:00 PM") 01:00 PM
                          option(value="01:30 PM") 01:30 PM
                          option(value="02:00 PM") 02:00 PM
                          option(value="02:30 PM") 02:30 PM
                          option(value="03:00 PM") 03:00 PM
                          option(value="03:30 PM") 03:30 PM
                          option(value="04:00 PM") 04:00 PM
                          option(value="04:30 PM") 04:30 PM
                          option(value="05:00 PM") 05:00 PM
                          option(value="05:30 PM") 05:30 PM
                          option(value="06:00 PM") 06:00 PM
                          option(value="06:30 PM") 06:30 PM
                          option(value="07:00 PM") 07:00 PM
                          option(value="07:30 PM") 07:30 PM
                          option(value="08:00 PM") 08:00 PM

                    div.col.s2
                      p to 

                    div.col.s4
                      div.input-field
                        select(ng-model="schedule.endTime", class="browser-default")
                          option(value="" disabled selected) Select time
                          option(value="07:00 AM") 07:00 AM
                          option(value="07:30 AM") 07:30 AM
                          option(value="08:00 AM") 08:00 AM
                          option(value="08:30 AM") 08:30 AM
                          option(value="09:00 AM") 09:00 AM
                          option(value="09:30 AM") 09:30 AM
                          option(value="10:00 AM") 10:00 AM
                          option(value="10:30 AM") 10:30 AM
                          option(value="11:00 AM") 11:00 AM
                          option(value="11:30 AM") 11:30 AM
                          option(value="12:00 PM") 12:00 PM
                          option(value="12:30 PM") 12:30 PM
                          option(value="01:00 PM") 01:00 PM
                          option(value="01:30 PM") 01:30 PM
                          option(value="02:00 PM") 02:00 PM
                          option(value="02:30 PM") 02:30 PM
                          option(value="03:00 PM") 03:00 PM
                          option(value="03:30 PM") 03:30 PM
                          option(value="04:00 PM") 04:00 PM
                          option(value="04:30 PM") 04:30 PM
                          option(value="05:00 PM") 05:00 PM
                          option(value="05:30 PM") 05:30 PM
                          option(value="06:00 PM") 06:00 PM
                          option(value="06:30 PM") 06:30 PM
                          option(value="07:00 PM") 07:00 PM
                          option(value="07:30 PM") 07:30 PM
                          option(value="08:00 PM") 08:00 PM
                          //- End time section 

                div(class="center-align", ng-if="!schduleFixed")
                  button(class="btn-large waves-effect center-align submitSchedule", ng-click="scheduleThis(schedule)") Schedule Appointment
                    i.mdi-content-send.right

                  
        div(class="col s8", ng-if="schduleFixed")
          div.card-panel.toastr
            div(class="row fadeInDown", ng-if="schduleFixed")      
              p Your request has been submitted and a notification has been sent to Dr {{scheduledDoctor.firstname + ' ' + scheduledDoctor.lastname}}.
              p You will receive a notfication when your schedule gets confirmed.
              a(ui-sref="home") Go back to your home page

        div.col.s4
          div.row
            div.card-panel.appointment
              div
                div.card-content
                  img(src="{{scheduledDoctor.avatarUrl}}")
                  p.card-title {{scheduledDoctor.firstname + ' ' + scheduledDoctor.lastname}}
                div.card-action
                  p {{scheduledDoctor.specialization}}
                  p {{scheduledDoctor.email}}

          
                   