doctype html
html(lang="en", ng-app="App")
  head
    title SchedMedic
    link(rel="stylesheet", type="text/css", href="../../lib/materialize/dist/css/materialize.css")
    link(rel="stylesheet", type="style/css", href="../../modules/css/main.css")
    link(rel="stylesheet", type="style/css", href="../../modules/css/animate.css")

  body
    div
      nav
        div(class="nav-wrapper sideMArgin", ng-controller="mainCtrl as headerCtrl")
          a(href="#/", class="brand-logo") SchedMedic
          ul(class="right hide-on-med-and-down", ng-if="!userIsLoggedIn")
            li
              a(ui-sref="login") Login

          ul(class="right hide-on-med-and-down", ng-if="userIsLoggedIn")
            li 
              a(href="") Welcome {{currentUser.username}}
            li 
              a(ui-sref="home") Home
            li 
              a(ui-sref="patient") Schedule Appointment
            li
              a(href="", ng-click="logout()") Logout

    div(ui-view)

    script(src="../../lib/jquery/dist/jquery.js")
    script(src="../../lib/angular/angular.js")
    script(src="../../lib/ui-router/release/angular-ui-router.js")
    script(src="../lib/angular-cookies/angular-cookies.js")
    script(src="../../lib/materialize/dist/js/materialize.js")
    script(src="../../modules/controllers/app.controller.js")
    script(src="../../modules/controllers/auth.controller.js")
    script(src="../../modules/controllers/main.controller.js")
    script(src="../../modules/controllers/patient.controller.js")
    script(src="../../modules/controllers/doctor.controller.js")
    script(src="../../modules/controllers/admin.controller.js")
    script(src="../../modules/controllers/schedule.controller.js")
    script(src="../../modules/controllers/userHome.controller.js")
    script(src="../../modules/controllers/edit.controller.js")
    script(src="../../modules/services/auth.service.js")
    script(src="../../modules/services/authtoken.service.js")
    script(src="../../modules/services/doctors.service.js")
    script(src="../../modules/services/schedule.service.js")
    script(src="../../modules/services/tempstore.service.js")
    script(src="../../modules/js/appRoutes.js")